.container {
  margin-top: 200px;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 28px;
}
.heading {
  margin: 0;
  padding: 0;
  font-size: 42px;
}

.itemHeading {
  text-transform: uppercase;
}

.box {
  margin-top: 50px;
  text-align: center;
  width: 341px;
  height: 50px;
  background-color: rgba(67, 110, 205, 1);
  border-radius: 30px;
  display: grid;
}

.anchor {
  align-self: center;
  font-size: 22px;
}