ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: inherit;
}

.item {
  margin-left: 22px;
}

.container {
  display: grid;
  justify-self: end;
  margin-top: 56px;
  font-size: 12px;
  text-transform: uppercase;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 100px));
  justify-self: end;
}