ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: inherit;
}
ul div {
  display: grid;
  justify-self: end;
}

.container {
  width: 80%;
  display: grid;
  justify-self: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 100px));
  justify-self: end;
}