p {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 135px;
  display: grid;
}

.heading {
  font-size: 42px;
}

.itemList {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 704px 1fr 1fr;
}

.item {
  margin: 0;
  padding: 0;
}

.description {
  font-size: 22px;
}

.contacts {
  font-size: 25px;
}

.cities {
  text-transform: uppercase;
}