@media screen and (min-width: 770px) {

  .container {
    margin-top: 110px;
  }
}

@media screen and (min-width: 770px) {

  .container {
    margin-top: 60px;
  }
}


.image {
  width: 305px;
  height: auto;
}

img {
  width: 100%;
}

.partnerName {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 23px;
}

.slogan {
  margin-top: 20px;
}

.line {
  margin-top: 10px;
  background-color: rgba(45, 45, 45, 1);
  width: 305px;
  height: 1px;
}